{%  load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>NoCardio</title>

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>


<body>
{% include 'common/navigation.html' %}
{% block content %}
    {{ workouts }}
{%  endblock %}



  <!-- footer section -->
{#  <section class="container-fluid footer_section">#}
{#    <p>#}
{#      &copy; 2020 All Rights Reserved By#}
{#      <a href="https://html.design/">Free Html Templates</a>#}
{#      Distrubuted By <a href="https://themewagon.com">ThemeWagon</a>#}
{#    </p>#}
{#  </section>#}

<footer class="footer mt-auto bg-dark text-white py-3" >

    <div class="container text-center">
                <p>&copy; 2024  Welcome to my NoCardio Django Project.</p>
            </div>

    </footer>
  <!-- footer section -->


</body>



</html>


