

{% load static %}
<div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
      <div class="container-fluid">

        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
            <a href="{% url 'index' %}">
              <img class="img-fluid" style="opacity: 100%;" src="{% static '/images/logo9.png' %}" alt="NoCardio Logo">
            </a>
            <span>
              NoCardio
            </span>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">

                <ul class="navbar-nav">
                <li class="nav-item active" style="list-style: none">

                              {% if request.user.is_staff %}
                         <li class="nav-item">
                  <a class="nav-link" href="{% url 'all-profiles' %}">Management <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}

                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                {% if request.user.is_authenticated %}

                    {% if 'workout' in request.path %}

                            <li class="nav-item">
                                            <a class="nav-link" href="{% url 'create-workout' %}">New workout</a>
                                      </li>
                                             <li class="nav-item">
                                    <a class="nav-link" href="{% url 'user_meal_list' %}">Nutrition</a>
                                    </li>

                        {% elif 'nutrition' in request.path %}
                         <li class="nav-item">
                                        <a class="nav-link" href="{% url 'user_workouts' %}">Training log</a>
                                  </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'create-meal' %}">New meal</a>
                                </li>
                        {% else %}
                         <li class="nav-item">
                                        <a class="nav-link" href="{% url 'user_workouts' %}">Training log</a>
                                  </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'user_meal_list' %}">Nutrition</a>
                                    </li>



                  {% endif %}





                {% else %}
                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'about-us' %}">About</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'mission' %}">Mission</a>
                  </li>

                   <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login/Register</a>
                  </li>
                   <li class="nav-item">
                  <a class="nav-link" href="{% url 'contacts' %}">Contacts</a>
                  </li>
                {% endif %}

              </ul>
              <div class="user_option">
                <!-- Check if the user is authenticated and redirect accordingly -->
                <a href="{% if user.is_authenticated %}{% url 'user-profile' %}{% else %}{% url 'login' %}{% endif %}">
                  <img src="{% if user.is_authenticated %}
    {% if user.profile.profile_picture %}
        {{ user.profile.profile_picture.url }}
    {% else %}
        {% static 'images/default_profile.jpg' %}
    {% endif %}
{% else %}
    {% static 'images/user.png' %}
{% endif %}" alt="User Profile" class="rounded-circle" width="40">
                </a>



              </div>
            </div>
          </div>
        </nav>
      </div>
       </nav>
    </header>