

{% load static %}

{% load static %}

<div class="container mt-5 px-3">
    <div class="row g-4 d-flex align-items-stretch">


     {% if request.user.is_authenticated %}
        <!-- Section: Training Log -->
        <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Training Log</h3>
                <div class="section-content">
                        <a href="{% url 'user_workouts' %}" class="btn btn-info btn-sm">Training Log</a>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">Track your workout history and monitor your progress.</p>
                </div>
            </div>
        </div>

        <!-- Section: Add New Workout -->
        <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Add New Workout</h3>
                <div class="section-content">
                        <a href="{% url 'create-workout' %}" class="btn btn-info btn-sm">New Workout</a>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">Input your workout details and submit them to track your progress.</p>
                </div>
            </div>
        </div>

        <!-- Section: Your Records -->
        <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Your Records</h3>

                <div class="section-content">
                    <a href="{% url 'repmax' pk=request.user.pk %}" class="btn btn-info btn-sm">View Records</a>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">Check your best lifts.</p>
                </div>
            </div>
        </div>

        <!-- Section: Nutrition Log -->
        <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Nutrition Log</h3>
                <div class="section-content">
                    <a href="{% url 'user_meal_list' %}" class="btn btn-outline-primary btn-sm">Nutrition Log</a>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">Track your nutrition history...</p>
                </div>
            </div>
        </div>

        <!-- Section: Add New Meal -->
        <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Add New Meal</h3>
                <div class="section-content">
                    <a href="{% url 'create-meal' %}" class="btn btn-outline-primary btn-sm">Add Meal</a>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">Add your meal to your nutrition log.</p>
                </div>
            </div>
        </div>

        <!-- Section: Public Records / Users -->
        <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Users and Public Records</h3>
                <div class="section-content">
                    <a href="{% url 'public_profiles' %}" class="btn btn-outline-primary btn-sm">View Users</a>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">Explore various workout templates to follow based on your fitness goals.</p>
                </div>
            </div>
        </div>
<br>
    {% else %}



         <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Training Log</h3>
                <div class="section-content">
                            <p class="section-text" style="font-size: 0.85rem; color: #666;"><a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login or Register</a></p>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">Track your workout history and monitor your progress.</p>
                </div>
            </div>
        </div>

        <!-- Section: Add New Workout -->
        <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Add New Workout</h3>
                <div class="section-content">
                            <p class="section-text" style="font-size: 0.85rem; color: #666;"><a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login or Register</a></p>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">Input your workout details and submit them to track your progress.</p>
                </div>
            </div>
        </div>

        <!-- Section: Your Records -->
        <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Your Records</h3>

                <div class="section-content">
                            <p class="section-text" style="font-size: 0.85rem; color: #666;"><a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login or Register</a></p>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">Check your best lifts.</p>
                </div>
            </div>
        </div>

        <!-- Section: Nutrition Log -->
        <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Nutrition Log</h3>
                <div class="section-content">
                            <p class="section-text" style="font-size: 0.85rem; color: #666;"><a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login or Register</a></p>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">Track your nutrition history...</p>
                </div>
            </div>
        </div>

        <!-- Section: Add New Meal -->
        <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Add New Meal</h3>
                <div class="section-content">
                            <p class="section-text" style="font-size: 0.85rem; color: #666;"><a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login or Register</a></p>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">Add your meal to your nutrition log.</p>
                </div>
            </div>
        </div>

        <!-- Section: Public Records / Users -->
        <div class="col-12 col-md-4">
            <div class="section-header mb-3 p-3 border rounded d-flex flex-column" style="background-color: #f9f9f9; height: 100%;">
                <h3 class="section-title mb-3" style="font-size: 1rem; font-weight: 600;">Users and Public Records</h3>
                <div class="section-content">
                            <p class="section-text" style="font-size: 0.85rem; color: #666;"><a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login or Register</a></p>
                    <p class="section-text" style="font-size: 0.85rem; color: #666;">See other members records.</p>
                </div>
            </div>
        </div>


{% endif %}
    </div>
<br>
</div>


